<div>
  <div>
    <h1>
      Director #<%= @the_director.id %> details
    </h1>

    <div>
      <div>
        <a href="/directors">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_director/<%= @the_director.id %>">
          Delete director
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Image
      </dt>
      <dd>
        <%= @the_director.image %>
      </dd>

      <dt>
        Name
      </dt>
      <dd>
        <%= @the_director.name %>
      </dd>

      <dt>
        Dob
      </dt>
      <dd>
        <%= @the_director.dob %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_director.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_director.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit director
    </h2>

    <form action="/modify_director/<%= @the_director.id %>"  method="post" >
      <div>
        <label for="image_box">
          Image
        </label>

        <input type="text" id="image_box" name="query_image" value="<%= @the_director.image %>">
      </div>

      <div>
        <label for="name_box">
          Name
        </label>

        <input type="text" id="name_box" name="query_name" value="<%= @the_director.name %>">
      </div>

      <div>
        <label for="dob_box">
          Dob
        </label>

        <input type="datetime-local" id="dob_box" name="query_dob"
         value="<%= @the_director.dob %>">
      </div>

      <button>
        Update director
      </button>
    </form>
  </div>
</div>

<hr>
